[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
click = "*"

[dev-packages]
pytest = "*"
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.7"

[scripts]
test = "pytest --ignore=chiplotle -v"
